*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #d3d9e2;
}
/* per 'Calendario anno 2018' */
#calendario{
  text-align: center;
}
.container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 37px);
}
/* per il div che contiene Precedente e Successivo */
.precendente_successivo{
  display: flex;
}
.precedente, .successivo{
  text-decoration: none;
  color: #bc1717;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: white;
}
.precedente{
  margin-right: 100px;
}
.successivo{
  margin-left: 100px;
}
a.disabled{
  color: grey;
  cursor: not-allowed;
  pointer-events: none;
}
.festivita{
  color: red;
  font-weight: bold;
}
